</div>
<footer class="bg-dark text-white text-center py-3 mt-5">
  <p>© 2025 Richie Bazuaye |
     <a href="https://github.com/RichieBaz" target="_blank" class="text-white"><i class="fab fa-github"></i></a> |
     <a href="https://www.linkedin.com/in/richie-bazuaye-467371358/" target="_blank" class="text-white"><i class="fab fa-linkedin"></i></a>
  </p>
</footer>
</body>
</html>
