<%- include('partials/header') %>
<h2>About Me</h2>
<p>I’m Richie Bazuaye, a 3rd-year student in Networking and Information Technology Security at Ontario Tech University. 
I love listening to music, playing sports like football, and learning about cybersecurity and networking. 
I’m passionate about how systems stay connected and secure across networks.</p>
<%- include('partials/footer') %>
