<%- include('partials/header') %>
<h2>Contact Me</h2>
<form class="w-50 mx-auto">
  <div class="mb-3">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Your Name">
  </div>
  <div class="mb-3">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="Your Email">
  </div>
  <div class="mb-3">
    <label>Message</label>
    <textarea class="form-control" rows="4" placeholder="Write a message..."></textarea>
  </div>
  <button class="btn btn-primary">Send</button>
</form>
<%- include('partials/footer') %>
