<%- include('partials/header') %>
<h2>My Projects</h2>
<ul>
  <li><strong>Express Portfolio Website:</strong> This site built using Node.js, Express, and EJS templates.</li>
  <li><strong>Cybersecurity Labs:</strong> Explored encryption like RSA and Diffie-Hellman to secure communication.</li>
  <li><strong>Networking Simulation:</strong> Configured routers, VLANs, and switches for secure network topologies.</li>
</ul>
<%- include('partials/footer') %>