body {
  background: linear-gradient(to right, #4facfe, #9d50bb);
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
}

h1, h2 { color: #fff; }

ul {
  text-align: left;
  width: 60%;
  margin: 0 auto;
}

footer a:hover { color: #ff7e5f; }
